<div class="course-indicators">
    <section class="indicator__item">
        <div class="indicator__amount">8</div>
        <div class="indicator__description"> 
            недель интенсивного обучения, занятия 3 раза в неделю
        </div>
    </section>
    <section class="indicator__item">
        <div class="indicator__amount">24</div>
        <div class="indicator__description"> 
            урока и домашних заданий с проверкой от тренера
        </div>
    </section>
    <section class="indicator__item">
        <div class="indicator__amount">7</div>
        <div class="indicator__description"> 
            работ в портфолио по окончании курса, 6 шотов и 1 итоговая работа
        </div>
    </section>
    <section class="indicator__item">
        <div class="indicator__amount">4</div>
        <div class="indicator__description"> 
            студента в каждой группе, у каждой группы свой куратор
        </div>
    </section>
</div>