<article class="course-faq">
    <div class="container course-faq__container">
        <h2 class="course-faq__title">Часто задаваемые вопросы</h2>
        <div class="course-faq__list">
            <details class="course-faq__item">
                <summary>Я никогда не занимался анимацией. У меня получится?</summary>
                <p>Конечно! Этот курс рассчитан для новичков, для тех, кто еще совсем ничего не умеет. Курс интенсивный, но оно того стоит. Главное выполняйте домашнее задание в срок. Вам всегда будут помогать тренеры и кураторы. Все получится!</p>
            </details>
            <details class="course-faq__item">
                <summary>Насколько курс интенсивный? Я смогу совмещать с работой?</summary>
                <p>Курс довольно интенсивный, но, при большом желании, вы будете успевать все. Вам понадобится 2-3 свободных часа в день на изучение материала и выполнение домашних заданий.</p>
            </details>
        </div>
    </div>
</article>