<article class="course-action">
    <div class="container action__container">
        <section class="action__description">
            <h2 class="action__title">Скидка 40% до 30 июня</h2>
            <p class="action__text">
                Успейте приобрести курс по выгодной цене! Вы можете забронировать место на курсе со скидкой, а остальную сумму оплатить в рассрочку на 12 или 24 месяца.
            </p>
            <div class="action__btn">
                <a class="btn btn_orange" href="">Купить курс</a>
            </div>
        </section>
    </div>
</article>