<div class="course-info">
    <h1 class="course-info__title">
        Практический курс по анимации для начинающих motion-дизайнеров
    </h1>
    <div class="course-info__poster">
        
    </div>
    <div class="course-info__description">
        <h3 class="course-info__subtitle">
            Мечтаете оживлять статичные картинки и интерфейсы? Тогда этот курс для вас!
            На интенсивном 8-недельном курсе по анимации вы получите мощную базу.
        </h3>
        <div class="course-info__text">
            <p>Анимация шейпов и текста, работа с векторными фигурами и растровыми изображениями, настройка программы After Effects и эффектный монтаж. Всему этому вы научитесь на курсе Motion Design. Вместе с преподавателями вы изучите принципы анимации и разберетесь с After Effects раз и навсегда.</p>
            <p>К концу курса вы сделаете несколько анимационных шотов и большой итоговый проект, соберете достойное портфолио. За 8 недель обучения вы получите полную базу по motion-дизайну, а наши кураторы будут помогать вам на протяжении всего обучения.</p>
            <p>Обучение проходит в небольших группах, к каждой привязан куратор, один из наших лучших выпускников. У вас всегда будет поддержка и обратная связь. Помимо фидбека от куратора, на каждое домашнее задание вы получаете разбор тренера.</p>
        </div>
    </div>
</div>