<article class="formats">
    <div class="container formats__container row_reverse">
        <div class="course__picture">
            <img class="picture" src="assets/img/course_photo.png" alt="photo">
            <div class="frame"></div>
        </div>
        <section class="format__description">
            <h2 class="format__title">Актуальные знания</h2>
            <p class="format__text">
                Мы понимаем, как быстро меняются тренды и появляются обновления. Поэтому мы всегда следим за всеми новинками, добавляем в программу то, что требуют топовые компании. Мы предлагаем вам только актуальные знания, чтобы вы были впереди планеты всей. 
            </p>
            <div class="format__btn">
                <a class="btn btn_orange" href="">Купить курс</a>
            </div>
        </section>
    </div>
</article>