<article class="courses">
    <div class="container courses__container">
        <h2 class="course__title">На курсы вы научитесь</h2>
        <div class="skills">
            <section class="skill__item">
                <div class="skill__name">
                    <img src="assets/img/icon3.svg" alt="icon">
                    <span>Анимировать объекты</span>
                </div>
                <p class="skill__description">Узнаете принципы создания инфографики, персонажной 2D флэт-анимации.</p>
            </section>
            <section class="skill__item">
                <div class="skill__name">
                    <img src="assets/img/icon2.svg" alt="icon">
                    <span>Работать с кадром</span>
                </div>
                <p class="skill__description">Изучите основные принципы анимации и работы с объектами, их движением в кадре.</p>
            </section>
            <section class="skill__item">
                <div class="skill__name">
                    <img src="assets/img/icon4.svg" alt="icon">
                    <span>Работать в After Effects</span>
                </div>
                <p class="skill__description">Научитесь реализовывать ваши идеи с помощью популярной программы для анимации</p>
            </section>
            <section class="skill__item">
                <div class="skill__name">
                    <img src="assets/img/icon1.svg" alt="icon">
                    <span>Работать со звуком</span>
                </div>
                <p class="skill__description">Освоите инструменты работы, сможете редактировать музыку в своем проекте.</p>
            </section>
        </div>
        <div class="course__btn">
            <a class="btn btn_green" href="">Программа курса</a>
        </div>
    </div>
</article>