<article class="indicators">
    <div class="container indicators__container">
        <section class="indicator__item">
            <div class="indicator__amount">100+</div>
            <div class="indicator__description"> 
                теоретических и практических курсов для разного уровня
            </div>
        </section>
        <section class="indicator__item">
            <div class="indicator__amount">3000</div>
            <div class="indicator__description"> 
                часов видео-лекций и вебинаров от лучших преподавателей
            </div>
        </section>
        <section class="indicator__item">
            <div class="indicator__amount">15</div>
            <div class="indicator__description"> 
                направлений обучения востребованным профессиям
            </div>
        </section>
        <section class="indicator__item">
            <div class="indicator__amount">2000</div>
            <div class="indicator__description"> 
                учеников уже занимаются на нашей платформе
            </div>
        </section>
    </div>
</article>