<article class="courses">
    <div class="container courses__container">
        <h2 class="course__title">Популярные курсы</h2>
        <div class="course__list">
            <section class="course__item">
                <img class="course__img" src="assets/img/pic-1.jpg" alt="picture">
                <p class="course__name">Motion design</p>
            </section>
            <section class="course__item">
                <img class="course__img" src="assets/img/pic-2.jpg" alt="picture">
                <p class="course__name">Таргет в Instagram</p>
            </section>
            <section class="course__item">
                <img class="course__img" src="assets/img/pic-3.jpg" alt="picture">
                <p class="course__name">Эффектные презентации</p>
            </section>
            <section class="course__item">
                <img class="course__img" src="assets/img/pic.jpg" alt="picture">
                <p class="course__name">SMM-стратегия</p>
            </section>
        </div>
        <div class="course__btn">
            <a class="btn btn_green" href="">Все курсы</a>
        </div>
    </div>
</article>