<article class="formats">
    <div class="container formats__container">
        <div class="format__picture">
            <img class="picture" src="assets/img/format.png" alt="photo">
            <div class="frame"></div>
        </div>
        <section class="format__description">
            <h2 class="format__title">Выбирайте свой формат обучения</h2>
            <p class="format__text">
                Смотрите видео-лекции в удобное для вас время, обучайтесь на тренажере, участвуйте в интенсивных воркшопах
                с командой или проходите курс с гибким расписанием.
                На нашей платформе каждый найдет подходящий формат.
            </p>
            <div class="format__btn">
                <a class="btn btn_orange" href="">Все курсы</a>
            </div>
        </section>
    </div>
</article>