<div class="navigation navigation_between">
    <div class="nav__logo logo">
        <img src="assets/img/icon.svg" alt="logo">
        <img src="assets/img/e-mentor_blue.svg" alt="logo">
    </div>
    <ul class="navigation__list">
        <li class="navigation__item">
            <a href="" class="navigation__link">О нас</a>
        </li>
        <li class="navigation__item">
            <a href="" class="navigation__link">Платформа</a>
        </li>
        <li class="navigation__item">
            <a href="" class="navigation__link">Курсы</a>
        </li>
        <li class="navigation__item">
            <a href="" class="navigation__link">Лекции</a>
        </li>
        <li class="navigation__item">
            <a href="" class="navigation__link">Тарифы</a>
        </li>
        <li class="navigation__item">
            <a href="" class="navigation__link">Блог</a>
        </li>
        <li class="navigation__item">
            <a href="" class="navigation__link">Контакты</a>
        </li>
    </ul>
</div>
