.course-action{
    background-image: url("../img/coursebg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0;
}
@media (max-width: 1120px) {
    .course-action{
        background-image: none;
        background-color: $color-green;
    }
}