.header{
    background-color: $color-green;
    width: 100%;
    min-height: 100vh;
}
.header__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.navigation{
    display: flex;
    align-items: center;
    width: 100%;
    height: $nav-height;
    position: relative;
}
.header__container{
    .navigation{
        justify-content: center;
        .nav__logo{
            display: none;
            svg path{
                fill: $color-white;
            }
        }
    }
}
.course-header__container{
    .navigation{
        justify-content: space-between;
    }
}
.navigation__list{
    display: flex;
    column-gap: 40px;
}
.navigation__item{
    cursor: pointer;
    &::after{
        content: '';
        display: block;
        margin-top: 6px;
        width: 0;
        border-bottom: 3px dashed $color-orange;
        transition: width .3s ease-in;
    }
    &:hover:after{
        width: 100%;
    }
}
.navigation__link{
    color: $color-white;
    line-height: 100%;
}
.header__content{
    display: flex;
    column-gap: 44px;
    justify-content: space-between;
    min-height: calc(100vh - $nav-height);
    padding: 20px 0 100px 0;
}
.header__link{
    min-width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header__link_reverse{
    flex-direction: column-reverse;
}
.link__block{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.link__block_reverse{
    display: flex;
    justify-content: flex-end;
}
.link__item{
    cursor: pointer;
    svg path{
        transition: fill .3s ease-in;
    }
    &:hover svg path{
        fill: $color-orange;
    }
}
@mixin picture-with-frame($w, $h, $r, $reverse: false){
    position: relative;
    .picture{
        width: $w;
        height: $h;
        position: absolute;
        z-index: 2;
        @if $reverse {
            top: 30px;
            right: 0;
        } @else {
            bottom: 0;
            left: 0;
        }
    }
    .frame{
        position: absolute;
        border: 2px dashed $color-white;
        width: $w;
        height: $h;
        @if $reverse {
            border-radius: $r 0 0 0;
            top: 0;
            right: 30px;
        } @else {
            border-radius: 0 $r 0 0;
            bottom: 30px;
            left: 30px;
        }
        
    }
}
.picture-with-frame{
    @include picture-with-frame(240px, 300px, 80px);
}
.picture-with-frame_reverse{
    @include picture-with-frame(240px, 300px, 80px, true);
}
.link_bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    transition: all .3s ease-in;
    span{
        writing-mode: sideways-lr;
    }
    svg path{
        transition: all .3s ease-in;
    }
    &:hover svg path, &:hover{
        color: $color-orange;
        stroke: $color-orange;
    }
}
.header__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo{
    display: flex;
    column-gap: 12px;
}
.header__title{
    font-weight: 500;
    font-size: 3.625rem;
    line-height: 120%;
    text-align: center;
    margin: 35px 0 20px 0;
}
.header__description{
    font-weight: 400;
    line-height: 150%;
    text-align: center;
}
.btn{
    font-weight: 500;
    line-height: 100%;
    padding: 20px 47px;
    border-radius: 0px 20px;
    transition: all .2s ease-in-out;
}
.btn_orange{
    background-color: $color-orange;
}
.btn_orange:hover{
    background-color: $color-orange_hover;
}
.header__btn{
    margin-top: 50px;
}
.burger__icon{
    display: none;
    width: 45px;
    fill: $color-violet;
    cursor: pointer;
    z-index: 99;
}
.header__container .burger__icon{
    fill: $color-white;
}
@media (max-width: 700px) {
    .burger__icon{
        display: block;
    }
    .nav__logo{
        display: block !important;
    }
    .navigation__list{
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,.9);
        z-index: 9;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;      
        padding-top: 100px;
        row-gap: 18px;
        font-size: 1.5em;
    }
    .navigation{
        justify-content: space-between !important;
    }
}
@media (max-width: 1200px) {
    .header__title{
        font-size: 3rem;        
    }
}
@media (max-width: 1160px) {
    .header__content{
        justify-content: center;
    }
    .header__link{
        display: none;
    }
}
@media (max-width: 500px) {
    .header__title{
        font-size: 2rem;
    }
}
.hide{
    display: none;
}
  