.formats{
    background-color: $color-green;
    padding: 120px 0;
}
.formats__container{
    display: flex;
    color: $color-white;
    column-gap: 100px;
    justify-content: space-between;
}

.format__description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 550px;
    row-gap: 20px;
}
.format__title{
    font-weight: 500;
    font-size: 3.625rem;
    line-height: 100%;
}
.format__text{
    font-weight: 400;
    line-height: 150%;
}
.format__btn{
    margin-top: 50px;
}
.format__picture{
    @include picture-with-frame(470px, 332px, 125px);
}
@media (max-width: 1120px) {
    .formats__container{
        justify-content: center;
    }
    .format__picture{
        display: none;
    }
    .format__description{
        align-items: center;
        max-width: 80%;
    }
    .format__text, .format__title{
        text-align: center;
    }
}
@media (max-width: 500px) {
    .format__title{
        font-size: 3rem;
    }
}