.courses__container{
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    align-items: center;
    color: $color-violet;
}
.course__title{
    font-weight: 500;
    font-size: 3.625rem;
    line-height: 100%;
    text-align: center;
    color: $color-violet;
}
.course__list{
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    width: 100%;
}
.course__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 15px;
    padding: 20px;
    max-width: 270px;
    background: $color-white;
    box-shadow: 5px 5px 30px rgba(101, 101, 101, 0.12);
    border-radius: 10px;
}