.mentors__container{
    display: flex;
    color: $color-violet;
    column-gap: 100px;
    justify-content: space-between;
}
.mentor__description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    row-gap: 20px;
}
.mentor__title{
    font-weight: 500;
    font-size: 3.625rem;
    line-height: 100%;
}
.mentor__text{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}
.mentor__btn{
    margin-top: 50px;
}
.btn_green{
    background-color: $color-green;
}
.btn_green:hover{
    background-color: $color-green_hover;
}
.mentor__items{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 570px;
}
.mentor__item{
    max-width: 170px;
}
.mentor__data{
    font-weight: 400;
    font-size: .875rem;
    line-height: 130%;
    text-align: center;
}
@media (max-width: 1190px) {
    .mentors__container{
        column-gap: 30px;
    }
}
@media (max-width: 1120px) {
    .mentors__container{
        justify-content: center;
    }
    .mentor__items{
        display: none;
    }
    .mentor__description{
        align-items: center;
        max-width: 80%;
    }
    .mentor__text, .mentor__title{
        text-align: center;
    }
}
@media (max-width: 500px) {
    .mentor__title{
        font-size: 3rem;
    }
}