$body-max-width: 1600px; 
$container-width: 1300px;
$font-size: 16px;
$color-green: #10B582;
$color-green_hover: #0c8d64;
$color-violet: #353A5A;
$color-white: #FDFDFD;
$color-orange: #FA9F42;
$color-orange_hover: #d47c24;

$nav-height: 100px;